<div class="container-fluid" *ngIf="dashboardData.length > 0 else empty">
	<div *ngFor="let dashboard of dashboardData" class="row mb-3">
		<div class="card col-12">
			<div class="card-body col-12">
				<div class="mb-3 col-12">
					Fecha de ingreso: <strong>{{dashboard.date}}</strong>
				</div>
				<app-dashboard-card
					style="float:left;width:25%;"
					class="dashboard-card-component"
					*ngFor="let card of dashboard.data;" 
					[num]="card.num" 
					[percentage]="card.percentage" 
					[name]="card.name" 
					[icon]="card.icon" 
					[color]="card.color">
				</app-dashboard-card>
			</div>
		</div>
	</div>
</div>
<ng-template #empty>
	<div class="d-flex flex-row justify-content-center">
		<div class="card col-12">
			<div class="card-body col-12">
				<h1>
					Aún no existen datos en el Dashboard
				</h1>
			</div>
		</div>
	</div>
</ng-template>