$card-blue:#63aeff;
$card-green:#3eb559;
$card-yellow:#ffd453;
$card-red:#e23f4f;
.dashboard-card.card {
    margin: 0px 5px 5px;
}
.card-body{
	color: white;
	&__red{
		background-color: $card-red;
	}
	&__green{
		background-color: $card-green;
	}
	&__blue{
		background-color: $card-blue;
	}
	&__yellow{
		background-color: $card-yellow;
	}
	&__icon{
		&__shopping-bag:after{
			content: '\f290';
			font-family: FontAwesome;
			right: 20px;
			position: absolute;
			bottom: 35px;
			font-size: 80px;
			mix-blend-mode: soft-light;
		}
		&__bar-chart:after{
			content: '\f080';
			font-family: FontAwesome;
			right: 20px;
			position: absolute;
			bottom: 35px;
			font-size: 80px;
			mix-blend-mode: soft-light;
		}
		&__user-plus:after{
			content: '\f234';
			font-family: FontAwesome;
			right: 20px;
			position: absolute;
			bottom: 35px;
			font-size: 80px;
			mix-blend-mode: soft-light;
		}
		&__pie-chart:after{
			content: '\f200';
			font-family: FontAwesome;
			right: 20px;
			position: absolute;
			bottom: 35px;
			font-size: 80px;
			mix-blend-mode: soft-light;
		}
	}
}
.card-footer{
	color: white;
	text-align: center;
	cursor: pointer;
	&__red{
		background-color: darken($card-red, 7%);
	}
	&__green{
		background-color: darken($card-green, 7%);
	}
	&__blue{
		background-color: darken($card-blue, 7%);
	}
	&__yellow{
		background-color: darken($card-yellow, 7%);
	}
}