<div class="dashboard-card card">
  <div [className]="'card-body card-body__' + color + ' card-body__icon__' + icon">
    <h5 class="card-title">{{num}} <span *ngIf="percentage">%</span></h5>
    <p class="card-text">{{name}}</p>
  </div>
  <div [className]="'card-footer card-footer__' + color">Más Info <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
</div>