<div class="d-flex" id="wrapper">
	<!-- Sidebar -->
	<div class="bg-light border-right" id="sidebar-wrapper">
		<div class="sidebar-heading text-center">e-Ventas </div>
		<div class="list-group list-group-flush">

			<div  class="list-group-item flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<img class="avatar" src="assets/img/user.jpg" alt="User Avatar">
					<h5 class="m-1 ml-3">Alexander Pierce</h5>
				</div>
			</div>

			<div  class="list-group-item flex-column align-items-start" *ngIf="weatherObservable$ | async as weather">
				<div class="d-flex w-100 justify-content-start">
					<div class="m-1">{{weather.currently.summary}}</div>
					<div class="m-1">{{weather.currently.temperature}}°C</div>
					<div [class]="'m-1 weather-icon__' + weather.currently.icon"></div>
				</div>
			</div>

			<a class="list-group-item list-group-item-action bg-light"  routerLinkActive="active" routerLink="/dashboard"> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
			<a class="list-group-item list-group-item-action bg-light"  routerLinkActive="active" routerLink="/data-input"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Alta de datos</a>
		</div>
	</div>
	<!-- /#sidebar-wrapper -->
	
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
			<button class="btn btn-primary" id="menu-toggle" (click)="toggleSidebar()"><i class="fa fa-bars" aria-hidden="true"></i></button>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
		<div style="padding:25px;">
			<router-outlet></router-outlet>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
	
</div>