/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
 body {
	overflow-x: hidden;
  }
  .avatar{
	height: 60px;
    border-radius: 30px;
  }
  a.list-group-item.list-group-item-action.bg-light.active{
	  color: #495057;
	  background-color: #dae0e5 !important;
  }
  .weather-icon{
	  &__clear{
		&-day:after,&-night:after{
			font-family: FontAwesome;
			right: 25px;
			position: absolute;
			bottom: 0px;
			font-size: 25px;
		}
		&-day:after{
			content: '\f185';
		}
		&-night:after{
			content: '\f186';
		}
	  }
	  &__partly-cloudy{
		&-day:after,&-night:after{
			content: '\f0c2';
			font-family: FontAwesome;
			right: 25px;
			position: absolute;
			bottom: 0px;
			font-size: 25px;
		}
	  }
	&__rain:after,&__snow:after,&__sleet:after,&__wind:after,&__fog:after,&__cloudy:after{
		content: '\f043';
		font-family: FontAwesome;
		right: 25px;
		position: absolute;
		bottom: 0px;
		font-size: 25px;
	}

  }
  #sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
	width: 15rem;
  }
  
  #page-content-wrapper {
	min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
  }
  
  @media (min-width: 768px) {
	#sidebar-wrapper {
	  margin-left: 0;
	}
  
	#page-content-wrapper {
	  min-width: 0;
	  width: 100%;
	}
  
	#wrapper.toggled #sidebar-wrapper {
	  margin-left: -15rem;
	}
  }