<div class="d-flex flex-row justify-content-center">

	<div class="card col-sm-12 col-md-6">
		<div class="card-body">
				<form [formGroup]="form">

						<div class="form-row">
							<div class="form-group col-12">
								<label for="nuevasCompras" class="control-label required">Cantidad de Nuevas Compras</label>
								<input type="number" class="form-control" id="nuevasCompras" placeholder="Nuevas compras" formControlName="nuevasCompras" [ngClass]="muestraCampoCss('nuevasCompras')">
								<div *ngIf="esValido('nuevasCompras')">
									<span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span>
									<span class="sr-only">(error)</span>
									<div class="error-msg">Debe agregar un numero valido de nuevas compras</div>
								</div>
							</div>
						</div>
				
						<div class="form-row">
							<div class="form-group col-12">
								<label for="porcentajeIncrementoCompras" class="control-label required">Incremento de Compras</label>
								<input type="number" class="form-control" id="porcentajeIncrementoCompras" placeholder="% Incremento de Compras" formControlName="porcentajeIncrementoCompras" [ngClass]="muestraCampoCss('porcentajeIncrementoCompras')">
								<div *ngIf="esValido('porcentajeIncrementoCompras')">
									<span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span>
									<span class="sr-only">(error)</span>
									<div class="error-msg">Debe agregar un numero valido de incremento de compras</div>
								</div>
							</div>
						</div>
					
						<div class="form-row">
							<div class="form-group col-12">
								<label for="nuevosUsuarios" class="control-label required">Cantidad Nuevos Usuarios</label>
								<input type="number" class="form-control" id="nuevosUsuarios" placeholder="Nuevos usuarios" formControlName="nuevosUsuarios" [ngClass]="muestraCampoCss('nuevosUsuarios')">
								<div *ngIf="esValido('nuevosUsuarios')">
									<span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span>
									<span class="sr-only">(error)</span>
									<div class="error-msg">Debe agregar un numero valido de nuevos usuarios</div>
								</div>
							</div>
						</div>
				
						<div class="form-row">
								<div class="form-group col-12">
									<label for="nuevasVisitas" class="control-label required">Cantidad Nuevas Visitas</label>
									<input type="number" class="form-control" id="nuevasVisitas" placeholder="Nuevas visitas" formControlName="nuevasVisitas" [ngClass]="muestraCampoCss('nuevasVisitas')">
									<div *ngIf="esValido('nuevasVisitas')">
										<span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span>
										<span class="sr-only">(error)</span>
										<div class="error-msg">Debe agregar un numero valido de nuevas visitas</div>
									</div>
								</div>
							</div>
				
						<div class="form-row">
							<div class="form-group col-12">
								<label for="fechaIngreso" class="control-label required">Fecha de ingreso</label>
								<input type="text" class="form-control" formControlName="fechaIngreso" id="fechaIngreso" placeholder="Fecha de ingreso de los datos" 
									[ngClass]="muestraCampoCss('fechaIngreso')"
									bsDatepicker
									[bsConfig]="{ containerClass:'theme-default', isAnimated: true , adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }"
									[minDate]="minDate">
								<div *ngIf="esValido('fechaIngreso')">
									<span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span>
									<span class="sr-only">(error)</span>
									<div class="error-msg">Debe seleccionar una fecha valida</div>
								</div>
							</div>
						</div>
				
						<div class="form-row">
							<div class="w-100 text-right">
								<button type="submit" class="btn btn-primary mx-auto btn-enviar" (click)="onSubmit()" aria-label="Enviar">Enviar</button>
							</div>
						</div>
				
					</form>
				
		</div>
	</div>

</div>